<%= form_with(model: grupo_relacao_usuario, local: true) do |form| %>
  <% if grupo_relacao_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grupo_relacao_usuario.errors.count, "error") %> prohibited this grupo_relacao_usuario from being saved:</h2>

      <ul>
      <% grupo_relacao_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :grupo_id %>
    <%= form.select :grupo_id, options_for_select(@grupos.map{|grupo| [grupo['nome'],grupo['id']]}) %>
  </div>

<div class="field">
    <%= form.label :usuario_id %>
    <%= form.select :usuario_id, options_for_select(@usuarios.map{|usuario| [usuario['nome'],usuario['id']]}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
