<h1>Editing Grupo Relacao Usuario</h1>

<%= render 'form', grupo_relacao_usuario: @grupo_relacao_usuario %>

<%= link_to 'Show', @grupo_relacao_usuario %> |
<%= link_to 'Back', grupo_relacao_usuarios_path %>
