<p id="notice"><%= notice %></p>

<h1>Grupo Relacao Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Grupo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grupo_relacao_usuarios.each do |grupo_relacao_usuario| %>
      <tr>
        <td><%= grupo_relacao_usuario.usuario.nome %></td>
        <td><%= grupo_relacao_usuario.grupo.nome %></td>
        <td><%= link_to 'Show', grupo_relacao_usuario %></td>
        <td><%= link_to 'Edit', edit_grupo_relacao_usuario_path(grupo_relacao_usuario) %></td>
        <td><%= link_to 'Destroy', grupo_relacao_usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grupo Relacao Usuario', new_grupo_relacao_usuario_path %>
