<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @grupo_relacao_usuario.usuario %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @grupo_relacao_usuario.grupo %>
</p>

<%= link_to 'Edit', edit_grupo_relacao_usuario_path(@grupo_relacao_usuario) %> |
<%= link_to 'Back', grupo_relacao_usuarios_path %>
