<%= form_with(model: grupo, local: true) do |form| %>
  <% if grupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grupo.errors.count, "error") %> prohibited this grupo from being saved:</h2>

      <ul>
      <% grupo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if dm == "true" %>
    <div class="field">
      <%= form.label :usuario %>
      <%= form.select :usuario_id, options_for_select(usuarios.map{|usuario| [usuario.nome,usuario.id]})%>
    </div>

    <div class="field">
      <input value="" type="hidden" name="grupo[nome]" id="grupo_nome">
      <%= form.hidden_field :dm, value: "true" %>
    </div>
  <% else %>

  <div class="field">
      <input value="" type="hidden" name="grupo[nome]" id="grupo_nome">
      <%= form.hidden_field :dm, value: "false" %>
    </div>
  
    <div class="field">
      <%= form.label :nome %>
      <%= form.text_field :nome %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
    <% if dm == "true" %>
      contato = $('#grupo_usuario_id').find(":selected").text()

      $('#grupo_nome').val("<%= session[:user]['nome']%>/" + contato)

      $( "#grupo_usuario_id" ).change(function() {
          contato = $('#grupo_usuario_id').find(":selected").text()
          $('#grupo_nome').val("<%= session[:user]['nome']%>/" + contato)
      });
    <% end %>
</script>