<% if @permisao.present?%>
  <div align="center" class="container">

    <% nomes = @grupo.nome.split('/') %>
    <% if session[:user]['nome'] == nomes[0] %>
      <h1 class="title"><%=nomes[1]%></h1>
    <% else %>
      <h1 class="title"><%=nomes[0]%></h1>
    <% end %>
      <% if @grupo.dm == false %>
        <a href="/grupo_relacao_usuarios/new"><i class="text-align-right fas fa-user-plus"></i></a>
      <% end %>

    <div id="messages" class="scrollview" style="overflow-y: scroll; height:80vh;background-color: #ececec">
      <%@messages.each do |mensagem| %>
        <%if mensagem.usuario.id == session[:user]['id'] %>
          <p class="alert alert-primary" role="alert"><%=mensagem.usuario.nome + ': ' + mensagem.conteudo %></p>
        <%else %>
          <p class="alert alert-light" role="alert"><%=mensagem.usuario.nome + ': ' + mensagem.conteudo %></p>
        <% end %>
      <% end %>
    </div>
    <br>
    <input  id="caixa_de_dialogo" type="text" data-behavior="chat_speaker" placeholder=" Diga alguma coisa :) " style="width: 100%">
  </div>

  <script>
       grupo_id = document.querySelector('head').dataset.grupoId = <%= @grupo.id %>
       document.querySelector('head').dataset.usuarioId = <%= session[:user]['id']%>
           $('.scrollview').scrollTop($('.scrollview')[0].scrollHeight);

       this.App || (this.App = {});

       App.chat = App.cable.subscriptions.create({channel:"RoomChannel", sala: grupo_id }, {
           received: function(data) {
               var objDiv;
               $('#messages').append(data['message']);
               objDiv = document.getElementById("messages");
               return objDiv.scrollTop = objDiv.scrollHeight;
           },
           speak: function(msg, a, g) {
               return this.perform('speak', {
                   message: msg,
                   author: a,
                   group: g
               });
           }
       });
       $(document).on('keypress', '#caixa_de_dialogo', function(event) {
           if (event.keyCode === 13) {
               App.chat.speak(event.target.value, document.querySelector('head').dataset.usuarioId, document.querySelector('head').dataset.grupoId);
               event.target.value = "";
               return event.preventDefault();
           }
       });
  </script>
<% else %>
  <div>
    <h3 > Permissão negada</h3>
  </div>
<% end %>