<h1>Home</h1>
<%= label_tag "Usuario" %>
<%= select_tag "usuario", options_for_select(@usuarios.map{ |u| ["#{u.id}#"+u.nome, u.id] }) %>
<%= link_to 'Login',usuario_path,:method,id:"botao_login"%>
<script>

  $('#botao_login').on('click', function(){
      let user = $('select[name=usuario] option').filter(':selected').val()

  });

</script>