<p id="notice"><%= notice %></p>

<h1 class="text-center">Login</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.id %></td>
        <td><%= usuario.nome %></td>
        <td><%= link_to 'Login', usuario %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar novo Usuario', new_usuario_path %>

<% $ajax %>