<p id="notice"><%= notice %></p>

<h3>Bem vindo de volta: <strong><%= @usuario.nome %></strong></h3>

<h5>Para que os outros vejam que você está online você precisa vizualizar um grupo ou conversa,</h5>
<h5>caso não possua crie uma agora :)</h5>