<!DOCTYPE html>
<html>
  <head <%= yield(:head_attributes) %> >
    <title>Chitchat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
    .cab{
        height: 50px;
        border-bottom:1px solid #666666 ;
        margin-bottom: 12px;
        text-align: center;
        width: 100%;
    }
  </style>

  <body >

    <div style="height: 100vh" class="row">
      <div  class="d-flex col-3">
        <div class="row">
          <div class="col-6  flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 180px;">
            <div class="cab">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-6">Grupos</span>
              </a>
            </div>
            <ul class="nav nav-pills flex-column mb-auto">
              <% if session[:user].present? %>
                <% update_grupos(session[:user]['id']) %>
                <%= link_to new_grupo_path(:admin_id => session[:user]['id']) ,class:'nav-link text-white'  do%>
                  <p> Novo grupo <i class="fas fa-plus fa-md"></i></p>
                <% end %>
              <% end %>
            </ul>
            <ul>
              <!-- Grupos aqui -->
              <% if session[:grupos].present?%>
                <% session[:grupos].each do |grupo| %>
                  <%= link_to "/grupos/#{grupo['id']}", class:'nav-link text-white',data: { turbolinks: false } do%>
                    <p><%= grupo['nome'] %></p>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
            <div class="fixed-bottom">
              <% if session[:user].present? %>

                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                  <strong><%=session[:user]['nome']%></strong>
                </a>
              <% end %>
            </div>

          </div>
          <div class="col-6 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 200px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0  text-white text-decoration-none">
              <div class="cab">
                <span class="fs-6">Amigos</span>
              </div>
            <!-- dm aqui-->
            </a>
            <% if session[:user].present? %>
              <%= link_to new_grupo_path(:admin_id => session[:user]['id'],:dm => true) ,class:'nav-link text-white'  do%>
                <p>Adicionar amigo <i class="fas fa-plus fa-md"></i></p>
              <% end %>
              <% session[:dm][:grupo].zip(session[:dm][:usuario]).each do |grupo,contatos| %>
                <%= link_to "/grupos/#{grupo['id']}", class:'nav-link text-white',data: { turbolinks: false } do%>
                  <% nomes = grupo['nome'].split('/') %>
                  <div class="d-flex">
                    <!--text-success online  text-white-50 offline -->
                    <% if contatos.status == "Offline" %>
                      <i data-appearing-on="<%= contatos.id %>" class="text-white-50 px-2 fas fa-circle"></i>
                    <% else %>
                      <i data-appearing-on = "<%= contatos.id %>" class="text-success px-2 fas fa-circle"></i>
                    <% end %>

                  <% if session[:user]['nome'] == nomes[0] %>
                    <p><%= nomes[1] %></p>
                  <% else %>
                    <p><%= nomes[0] %></p>
                  <% end %>
                  </div>
                <% end %>
              <% end %>
          <% else %>
            <p>Para ver as mensagens você precisa estar logado! </p>
          <% end %>
          </div>
        </div>
      </div>

      <div class="col-9">
        <%= yield %>
      </div>
    </div>

  </body>


</html>
